
<%= form_tag users_path, id:'search-form', method: :get, remote: true do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Users by Skill or Experience" %>


<% end %>


<table id="results">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">address</th>
      <th scope="col">gender</th>
      <th scope="col">age</th>
      <th scope="col">Tag Lists</th>
      <th scope="col">Experience Lists</th>

      <th colspan="6">

    </tr>
  </thead>
  <tbody>
  <% @users.each do |beer| %>
   <td><%= beer.full_name%></td>
   <td><%= beer.email%></td>
   <td><%= beer.address%></td>
   <td><%= beer.gender%></td>
   <td><%= beer.age%></td>
   <td><%= beer.skill_list%></td>
   <td><%= beer.experience_list%></td>


    </tr>
    <%end %>

  </tbody>
</table>

<%# <%= render "form", users: @users %> 




<script>
const input = document.querySelector("#search");

input.addEventListener("keyup", searching);

function searching() {
  // console.log("s");

  // debugger
  $.ajax({
    url: '/users',
    type: 'GET',
    data: { search: $(this).val() },
    success: function(data) {
      console.log(data);
      $('#results').html(data);
    }
  });
}

</script>
